<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Destrin_Visual_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

    <userSettings>
        <Destrin_Visual_Tool.Properties.Settings>
            <setting name="CurrentConsoleIP" serializeAs="String">
                <value />
            </setting>
            <setting name="TiempoTotalUsado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalSecs" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TotalMins" serializeAs="String">
                <value>3</value>
            </setting>
        </Destrin_Visual_Tool.Properties.Settings>
    </userSettings>
</configuration>